@tailwind base;
@tailwind components;
@tailwind utilities;

.big-spinner {
  position: relative;
  width: 48px;
  height: 48px;
}

.big-spinner:before,
.big-spinner:after {
  content: "";
  display: block;
  border: 32px solid transparent;
  border-top-color: theme(colors.gray.50);
  position: absolute;
  left: 0;
  top: 0;
  animation: weld-rotate 2s infinite ease-in;
}

.big-spinner:before {
  border-color: transparent transparent transparent theme(colors.violet.800);
  animation-delay: 0.5s;
}

@keyframes weld-rotate {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.small-spinner {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.small-spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 2px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

body {
  /* background: #0f172a url("./bg-image.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar {
  appearance: none;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 300px;
}
